<ion-header>
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center color="light">Login</ion-title>
  </ion-toolbar>

 
</ion-header>

<ion-content>
  <ion-img width="80" height="80" src="../assets/icon.png"></ion-img>
  <div class="spacer" style="height:50px;" id="login-spacer1"></div>
  <ion-item>
    <ion-label color="primary" position="floating">Username</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label type="password" color="primary" position="floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <div class="spacer" style="height:20px;" id="login-spacer2"></div>
  <p text-center>
  <ion-button shape="round">Login</ion-button>
</p>
<p text-center>
  Not A Member? <a href="#">Sign Up here!</a>
</p>


</ion-content>